<div class="select-stats">
    <input type="radio" class="btn-check" name="statsOptions" id="btn-check-outlined" autocomplete="off" [(ngModel)]="selectedOption" value="global">
    <label class="btn btn-outline-primary" for="btn-check-outlined" (click)="changeStats('global')" [ngClass]="{'active': selectedOption === 'global'}">Global Standings</label>
    <input type="radio" class="btn-check" name="statsOptions" id="btn-check-2-outlined" autocomplete="off" [(ngModel)]="selectedOption" value="your">
    <label class="btn btn-outline-secondary" for="btn-check-2-outlined" (click)="changeStats('your')" [ngClass]="{'active': selectedOption === 'your'}">Your Stats</label>
</div>

<div class="stats">
    @if (selectedOption === 'global') {
    <div class="global-stats">
        <h1><i class="bi bi-hourglass-split"></i>
            Reaction Time</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for(score of globalTop5Scores[0]; track score; let i = $index) {
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{score.username}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Average score: {{ globalAverageScore[0] }}</h3>
        </div>
        <h1><i class="bi bi-ui-checks-grid"></i>
            Simon Says</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for(score of globalTop5Scores[1]; track score; let i = $index) {
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{score.username}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Average score: {{ globalAverageScore[1] }}</h3>
        </div>
        <h1><i class="bi bi-infinity"></i>
            Number Sequence</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for(score of globalTop5Scores[2]; track score; let i = $index) {
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{score.username}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Average score: {{ globalAverageScore[2] }}</h3>
        </div>
        <h1><i class="bi bi-crosshair"></i>
            Color Aim</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for(score of globalTop5Scores[3]; track score; let i = $index) {
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{score.username}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Average score: {{ globalAverageScore[3] }}</h3>
        </div>
    </div>  
    } @else {   
    <div class="your-stats">
        <h1><i class="bi bi-hourglass-split"></i>
            Reaction Time</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for(score of userTop5Scores[0]; track score; let i = $index) {
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Average score: {{ userAverageScore[0] }}</h3>
        </div>
        <h1><i class="bi bi-ui-checks-grid"></i>
            Simon Says</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for(score of userTop5Scores[1]; track score; let i = $index) {
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Average score: {{ userAverageScore[1] }}</h3>
        </div>
        <h1><i class="bi bi-infinity"></i>
            Number Sequence</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for(score of userTop5Scores[2]; track score; let i = $index) {
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Average score: {{ userAverageScore[2] }}</h3>
        </div>
        <h1><i class="bi bi-crosshair"></i>
            Color Aim</h1>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @for(score of userTop5Scores[3]; track score; let i = $index) {
                        <tr>
                            <td>{{i + 1}}</td>
                            <td>{{score.score}}</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Average score: {{ userAverageScore[3] }}</h3>
        </div>
    </div>
    }
</div>

            
