<div class="game-container">
    @if (!gameStarted) {
        <div class="start-info" #startInfo>
            <h1>Number Sequence</h1>
            <h2>A sequence of numbers will be displayed a few seconds, write the same sequence after it vanish</h2>
                <button class="btn btn-primary" (click)="startGame()" id="startButton">Start Game</button>
        </div>
    }
    @if (gameStarted) {
    <h2>Level: {{ level }}</h2>
        @if (showSequence) {
        <h1>{{ sequence}}</h1>
        <div class="progress-bar-container">
            <div class="progress-bar" [style.width.%]="progressBarWidth"></div>
        </div>
        }
    }
    @if (!showSequence && !gameOver) {
      <h2>Enter the sequence of numbers:</h2>
      <input type="text" class="form-control" [(ngModel)]="userInput">
      <button class="btn btn-primary" (click)="verifySequence()">Verify</button>
    }
    <h2>{{ message }}</h2>
    <div class="button-container">
        <button class="btn btn-primary" #restartButton (click)="restartGame()" id="restartButton">Try again</button>
        <button class="btn btn-primary" #saveButton (click)="saveScore()" id="saveButton">Save Score</button>
    </div>
    <div class="alert alert-success" id="ok" role="alert" style="display: none;" #okAlert>
        Saved Score!
    </div>
    <div class="alert alert-danger" id="error" role="alert" style="display: none;" #errorAlert>
        Error saving your score !
    </div>
  </div>