<div class="game-container">
    @if (!gameStarted) {
        <div class="start-info" #startInfo>
            <h1>Color Aim</h1>
            <h2>Click as fast as you can the blue target</h2>
            <button class="btn btn-primary" (click)="startGame()" id="startButton">Start Game</button>
        </div>
    }
    @if (gameStarted) {
        <div class="game-board">
            <div class="target" (click)="handleTargetClick()" #target1></div>
            <div class="target" (click)="handleTargetClick()" #target2></div>
        </div>
    }
</div>
