@if(showModal) {
<div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2 class="gradienttext">Update Password</h2>
      <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
        <div>
          <label for="currentPassword">Current Password:</label>
          <input type="password" class="form-control" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required>
        </div>
        <div>
          <label for="newPassword">New Password:</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
        </div>
        <div class="alert alert-success" id="ok" role="alert" style="display: none;" #okAlert>
            Changed password successfully!
        </div>
        <div class="alert alert-danger" id="error" role="alert" style="display: none;" #errorAlert>
            Error, wrong password !
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!passwordForm.form.valid">Change Password</button>
      </form>
    </div>
  </div>
}