<body>
<main class="form-login">
    <form (ngSubmit)="dologin(loginform)" [formGroup]="loginform">
      <h1 class="h3 mb-3 fw-normal">Please log in</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Username">
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
        <label for="password">Password</label>
      </div>
      <div class="alert alert-success" id="ok" role="alert" style="display: none;" #okAlert>
        Log in done correctly!
      </div>
      <div class="alert alert-danger" id="error" role="alert" style="display: none;" #errorAlert>
        Log in Error, wrong username/password !
      </div>
      <p class="text-center text-muted mt-3 mb-3">No account? <a href="signup" class="fw-bold text-body text-white"><u>Sign up here</u></a></p>
      <button type="submit" [disabled]="!loginform.valid"
        class="btn btn-primary w-100 py-2" type="submit">Log in</button>
    </form>
  </main>
</body>
