<body>
<main class="form-login">
    <form>
      <h1 class="h3 mb-3 fw-normal">Please log in</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <p class="text-center text-muted mt-3 mb-3">No account? <a href="#" class="fw-bold text-body text-white"><u>Sing up here</u></a></p>
      <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
    </form>
  </main>
</body>
