<body>
    <div class="card">
  <div class="left-container">
    <img src="../../assets/img/user_profile.png">
    <h2 class="gradienttext">{{username}}</h2>
    <button class="btn btn-primary" (click)="logout()" id="logoutButton">Log Out</button>
  </div>
  <div class="right-container">
    <h2 class="gradienttext">Details</h2>
    <table>
      <tr>
        <td>Username :</td>
        <td>{{username}}</td>
      </tr>
      <tr>
        <td>Email :</td>
        <td>{{email}}</td>
      </tr>
      <tr>
        <td><a [routerLink]="['/stats']" [queryParams]="{ view: 'your-stats' }" class="fw-bold text-white"><u>Check your Stats</u></a></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary" (click)="openUpdatePasswordModal()" id="updatePasswordButton">Change Password</button></td>
      </tr>
    </table>
  </div>
</div>
<app-update-password #updatePasswordModal></app-update-password>

</body>